# Conll config file

# Required fields
configFilename                          en-tac-emb
modelName                          		en-tac-emb-release-v1
pathToModelFile                         /shared/preprocessed/lchen112/nom-data/en/models/tac2016.train
taggingEncodingScheme                   BIO

labelTypes                              PER ORG LOC GPE FAC
treatAllFilesInFolderAsOneBigDocument   false
language								en

# Features

# External resource
GazetteersFeatures                      0

# Everywhere
PreviousTag1                            1
PreviousTag2                            1

# Non lexical
PrevTagsForContext                      1

# Lexical Feature
Forms                                   1
PhraseLength                            2
Affixes                                 1
Capitalization                          1
WordTypeInformation                    	1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
PredictionsLevel1                       0

# word embedding
WordEmbeddings                          1
embeddingDimensionalities               300
minWordAppThresholdsForEmbeddings       0
isLowercaseWordEmbeddings               1
normalizationConstantsForEmbeddings     1
normalizationMethodsForEmbeddings       OVERALL
pathsToWordEmbeddings                   /shared/corpora/web_embeddings/fastText_wiki_trilingual/wiki.en.vec