# Conll config file

# Required fields
configFilename                          es-tac
modelName                          		es-tac-release-v2
pathToModelFile                         /shared/preprocessed/lchen112/nom-data/es/models/tac2016.all
taggingEncodingScheme                   BIO

labelTypes                              PER ORG LOC GPE FAC
treatAllFilesInFolderAsOneBigDocument   false
language								es

# Features

# External resource
GazetteersFeatures                      0

# Everywhere
PreviousTag1                            1
PreviousTag2                            1

# Non lexical
PrevTagsForContext                      1

# Lexical Feature
Forms                                   1
PhraseLength                            2
Affixes                                 1
Capitalization                          1
WordTypeInformation                    	1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
PredictionsLevel1                       0

# External resource
BrownClusterPaths                       1
isLowercaseBrownClusters                false false false
pathsToBrownClusters                    xlwikifier-data/brown-clusters/es/wiki-c1000-min3 xlwikifier-data/brown-clusters/en/brown-english-wikitext.case-intact.txt-c1000-freq10-v3.txt xlwikifier-data/brown-clusters/es/wiki-c500-min3
minWordAppThresholdsForBrownClusters    3 3 3

