# Conll config file

# Required fields
configFilename                          zh-tac
modelName                          		zh-ere+tac
pathToModelFile                         /shared/preprocessed/lchen112/nom-data/zh/models/experiment
taggingEncodingScheme                   BIO

labelTypes                              PER ORG LOC GPE FAC
treatAllFilesInFolderAsOneBigDocument   false
language								zh

# External resource
GazetteersFeatures                      0

# Everywhere
PreviousTag1                            1
PreviousTag2                            1

# Non lexical
PrevTagsForContext                      1

# Lexical Feature
Forms                                   1
PhraseLength                            2
Affixes                                 1
Capitalization                          1
WordTypeInformation                    	1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
PredictionsLevel1                       0
