# Conll config file

# Required fields
configFilename                          zh-tac
modelName                          		zh-tac-release-v2
pathToModelFile                         /shared/preprocessed/lchen112/nom-data/zh/models/tac2016.all
taggingEncodingScheme                   BIO

labelTypes                              PER ORG LOC GPE FAC
treatAllFilesInFolderAsOneBigDocument   false
language								zh

# External resource
GazetteersFeatures                      0

# Everywhere
PreviousTag1                            1
PreviousTag2                            1

# Non lexical
PrevTagsForContext                      1

# Lexical Feature
Forms                                   1
PhraseLength                            2
Affixes                                 1
Capitalization                          1
WordTypeInformation                    	1
PreviousTagPatternLevel1                1
PreviousTagPatternLevel2                1
PredictionsLevel1                       0

BrownClusterPaths                       1
isLowercaseBrownClusters                false false
pathsToBrownClusters                    xlwikifier-data/brown-clusters/zh/wiki-c500-min3 xlwikifier-data/brown-clusters/zh/wiki-char-c1000-min3
minWordAppThresholdsForBrownClusters    3 3